.nav{
    background-color: rgb(81, 223, 223);
    width: 100%;
    margin-top: -10px;
    margin-right: 20px;
    
    
}
.nav ul{
    list-style: none;
    display: flex;
    margin-left: 575px;
    width:100%;
    
    
}
.items{
    margin: 10px;
    font-size: 24px;
    color: aliceblue;
}
@media screen and (max-width:500px) {
    .nav ul{
        flex-direction: column;
        background-color: blue;
        width:100%;
    }
    
}